.lang_button {
    top: 11px;
    display: flex;
    position: relative;
    left: -45px;
    height: 77px;
    width: 77px;
    padding: 0;
    vertical-align: middle;

     
     
  }
.drop_end{
    
     
}
.dropdown_css {
    height: 77px;
    width: 77px;
     
  }
.dropdown {
    height: 77px;
    width: 77px;
   
}
#dropdown-button-drop- {
    border: none;
    background-color: rgb(221, 217, 228);
}
.dropdown-toggle{
    color: #000;
    background-color: #000;

}
.btn:after{
    color: rgb(221, 217, 228);
}
.btn-secondary::after{

}