.App {
  text-align: center;
  padding: 0;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header_fixed {
  height: 120px;
  min-height: 100px;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-color: rgb(76, 7, 202);
}
.header_under_root {
  background-color: black;
}
.navbar {
  background-color: bisque;
  display: flex;
}
.leftside_navbar {
  display: flex;
  background-color: rgb(95, 94, 94);
  height: 90px;
  width: 300px;
  margin-right: 950px;
  justify-content: center;
  vertical-align: middle;
}
.rightside_navbar {
  display: flex;
  background-color: rgb(173, 168, 168);
  height: 90px;
  width: 300px;
  justify-content: center;
}
.lang_button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
}

#Button_left№1{
  height: 50px;
  width: 50px;
  background-color: rgb(188, 190, 190);
}
#Button_left№2{
  height: 50px;
  width: 50px;
  background-color: rgb(188, 190, 190);
}
#Button_right№1{
  height: 50px;
  width: 50px;
  background-color: rgb(188, 190, 190);
}
#Button_right№2{
  height: 50px;
  width: 50px;
  background-color: rgb(188, 190, 190);
}
#Button_lang{
  height: 50px;
  width: 50px;
  background-color: rgb(188, 190, 190);
}